* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: gordita, Helvetica Neue, Helvetica, sans-serif;
  background-color: #ffffff;
}

/* nav bar */
nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: #f6f8f9;
  padding-top: 15px;
}

ul {
  display: flex;
  list-style: none;
}

.nav-bar-links-left {
  margin: 0px 30px;
}

#logo {
  width: 124px;
  height: 31px;
  margin-left: calc(100vw * 0.05);
}

/* 
 Nav Bar 
 code from my hamberger icon, can I reuse this code to make it work for this nav bar?
#navbar {
    position: fixed;
    top: 0;
  }
  
  #menuToggle {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 1;
  }
  
  #menuToggle a {
    text-decoration: none;
    color: #232323;
  
    transition: color 0.3s ease;
  }
  
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
  
    opacity: 0;  hide this 
    z-index: 2; and place it over the hamburger 
  }
  
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
  
    background: #cdcdcd;
    border-radius: 3px;
  
    z-index: 1;
  
    transform-origin: 4px 0px;
  
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  #menu {
    position: absolute;
    width: 300px;
    height: 100vh;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
  
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
  
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
  
    transition: transform 1s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  
  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }
  
  #menuToggle input:checked ~ ul {
    transform: none;
  }
   */
